/data/
*.tex
*/intermediate_data/*
code/R/intermediate_data/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Overleaf Connect
.overleafconnect
*.bbl
*.blg
*.out
*.toc
*.pdf
*.nav
*.snm
*.vrb
*.lot
*.lof
%OUTDIR%/
